main {
  text-align: center;
}

.chart {
    height: 400px;
}

#wrapper quarter {
    display:inline-block;
    float: right;
    background: tomato;
}

.chart div {
    background-color: seagreen;
    margin-left: 5px;
    margin-top: auto;
    color: white;
    display: inline-block;
}

.axis {
  font: 10px sans-serif;
}

.whole {
    display: flex;
    flex-wrap: wrap;
    height:  100vh;
    width: 100vw;
}

.quarter {
    width: 50vw;
    height: 50vh;
}

.Milk {
    background: url('images/milk.png') no-repeat center;
    background-size: contain;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.drawer {
  background-color: seagreen;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 2px solid black;
}

.true {
  background-color: tomato;
}

.false {
  background-color: bisque;
}

.hotwater-wrapper {
  background: tomato;
}

.teacup {
  height: 150px;
  width: 150px;
  background-image: url('http://www.wedgwood.com/media/catalog/product/cache/4/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/w/e/wedgwood-english-lace-teacup-091574153452.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacup-name {
  font-size: 20px;
}

.hotwater-wrapper2 {
  display: flex;
  /*justify-content: space-between;*/
  width: 400px;

}
