main {
  text-align: center;
}

.chart {
    height: 400px;
}

.chart div {
    background-color: seagreen;
    margin-left: 5px;
    margin-top: auto;
    color: white;
    display: inline-block;
}

.axis {
  font: 10px sans-serif;
}

.Milk {
    background: url('images/milk.png') no-repeat;
    background-size: contain;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.drawer {
  background-color: seagreen;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 2px solid black;
}

.true {
  background-color: tomato;
}

.false {
  background-color: bisque;
}
